/*****************************************************
 1. GENERAL (BODY, IMAGES & TEXT) code
 2. UNDER CONSTRUCTION HOME PAGE code
*****************************************************/

/* ------- 1. GENERAL (BODY, IMAGES & TEXT) ------- */

body {
    background: black;
    position: relative;
    width: 100%;
    color: #FFF8F0;
    margin: auto 0;
    padding-top: 0;
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
}

p {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin: 10px 6px;
    text-align: center;
    color: #FFF8F0;
    line-height: 140%;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
}

p:first-child:first-letter {
    float: left;
    color: #D65679;
    font-size: 4em;
    font-weight: normal;
    font-style: normal;
    line-height: 100%;
    padding-top: 0.05em;
    padding-right: 0.3em;
    padding-left: 0.05em;
    font-family: 'Great Vibes', cursive;
    -webkit-font-smoothing: antialiased;
}

hr {
    width: 6%;
}

h1 {
    font-size: 6em;
    color: #FFF8F0;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 2.4em;
    color: #FFF8F0;
    line-height: 130%;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    padding: 1em 0;
    text-align: center;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

label {
    font-weight: 400;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 1em;
    color: #FFF8F0;
    font-style: normal;
    padding: 0 2em 0 0;
}

@media only screen and (max-width: 450px) {

    h1 {
        font-size: 2.1em;
    }
    
    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
    }

}

/* ------- 2. UNDER CONSTRUCTION HOME PAGE ------- */

.centered-main {
    margin: 1% auto;
    text-align: center;
}

.main-pic {
    width: 50%;
    border-radius: 25px;
    margin-bottom: 1%;
}